.productdiv {
  background: linear-gradient(45deg, rgba(112, 224, 0, 1) 0%, rgba(112, 224, 0, 1) 0%, rgba(161, 0, 242, 1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  min-height: 94.7vh;
}

.productContainer {
  background: #fff !important;
  border: none;
  border-radius: 1rem;
  width: 90%;
  margin: 5rem auto;
  padding: 1.5rem;
}
.btnDisable{
  pointer-events: none;
  opacity: 0.5;
}
.productFirstWord {
  color: royalblue;
  font-weight: bold;
}

.productSingleWord {
  color: royalblue;
  display: inline-block;
}

.productImageKeybord {
  width: 95%;
  height: 80%;
}

.productImageMouse {
  width: 60%;
  height: 85%;
}

.colImageKeybord {
  width: 28rem;
  height: 23rem;
}

.colImageMouse {
  width: 22rem;
  height: 28rem;
}

.productDropDown {
  position: relative;
  display: inline-block;
}

.productDropDiv:hover .productDropDownRating {
  display: block;
}

.productDropDownRating {
  display: none;
  position: absolute;
  background-color: khaki;
  min-width: 70px;
  left: 10rem;
  top: 1.8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 50%;
}

.abc {
  padding-left: 40px
}

.pqr {
  padding-right: 70px;
  padding-top: 14px
}

.para {
  float: right;
  margin-right: 0;
  padding-left: 80%;
  top: 0
}

.productStar {
  color: rgb(243, 230, 117);
  font-size: 1.5rem;
}

li {
  list-style: none;
  line-height: 50px;
  color: #000
}

.col-md-2 {
  padding-bottom: 20px;
  font-weight: bold
}

.col-md-2 a {
  text-decoration: none;
  color: #000
}

.col-md-2.mio {
  font-size: 12px;
  padding-top: 7px
}

.r4 {
  padding-left: 25px
}

.btn-outline {
  border-radius: 0;
  border: 2px solid royalblue;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 620px) {
  .productContainer {
    width: 98%;
    display: flex;
    flex-flow: column;
    text-align: center
  }

  .productImageKeybord {
    width: 23rem;
    height: 17rem;
  }

  .productImageMouse {
    width: 17rem;
    height: 22rem;
  }

  .pqr {
    text-align: center;
    margin: 0 30px
  }

  .para {
    text-align: center;
    padding-left: 90px;
    padding-top: 10px
  }

  .klo {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-right: 40px
  }
}